@use "../variables" as va;

@mixin comment(){
  .coment{
    flex-grow: 1;
    padding: 1rem .5rem;
    border: 0;
    border-radius: 10px;
    background-color: rgba($color: va.$white, $alpha: .7);
    &:focus-visible{
      outline: 2px solid rgba($color: va.$black, $alpha: .5);
    };
  };
};