@use "../variables" as va;

.container-form {
  width: 90%;
  margin: 2rem auto;
  padding: 2rem;
  border: 1px solid va.$black;
  background-color: rgba($color: va.$form, $alpha: 0.8);
  border-radius: 10px;
}
.container-confirm {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin: 1rem auto;
  padding: 2rem 1rem;
  border: 1px solid va.$black;
  background-color: rgba($color: va.$small, $alpha: 0.8);
  border-radius: 10px;
  article {
    width: 30%;
    margin: 1rem 0;
    
    details[open] .icon {
      transform: rotate(90deg);
      transition: all 0.5s ease;
    }
    summary {
      display: flex;
      justify-content: space-between;
      align-items: center;
      content: "";
      font-size: clamp(1rem, 5vw, 1.2rem);
      font-weight: 600;
      cursor: pointer;
    }
    p {
      padding: 0.8rem;
      margin-top: 1rem;
      font-size: clamp(.8rem, 5vw, 1rem);
      font-weight: 300;
      color: va.$white;
      background-color: rgba($color: va.$textLabel, $alpha: 0.5);
      border-radius: 10px;
    }
  }
}
