@use "../variables" as va;
@use "../components/titles" as ti;
@use "../components/button" as bt;

// Estilos para el componente home
.container__all{
  &--home{
    background-image: url(va.$home-bg);
  }
  &--notPage{
    background-image: url(va.$notPage-bg);
  }
  &--page {
    width: 90vw;
    height: auto;
    padding: 3rem;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 800px;
    border-radius: 20px;
    z-index: 2;
    // Se incluye el mixin de los titulos generales
    @include ti.titles();
    p{
      font-size: clamp(1rem, 5vw, 1.8rem);
      text-align: justify;
      margin: 2rem 0;
      padding: .8rem;
      background-color: rgba($color: va.$white, $alpha: .7);
      color: va.$textLabel;
      span{
        font-size: clamp(2rem, 5vw, 2.5rem);
      };
    };
    // Se incluye el mixin de los botones generales
    @include bt.button();
  };
}

