@use "../variables" as va;

@mixin label() {
  label, .gender {
    margin: 0.5rem 0 .8rem 0;
    letter-spacing: 2px;
    color: va.$textLabel;
    font-weight: 400;
    font-size: clamp(.7rem, 2vw, 1rem);
    text-transform: uppercase;
    font-family: va.$main-font;
    text-align: right
  }
};
    