@use "../variables" as va;

@mixin btnRadio() {
  .group-radio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    label {
      font-size: 0.8rem;
      font-weight: 600;
      color: rgba($color: va.$color-link, $alpha: 0.6);
    }
    input[type="radio"] {
      margin: 0.5rem;
    }
  }
}
