@use "./variables" as va;
@use "./components/button" as bt;
@use "./components/titles" as ti;

// Estilos para el contenedor que engloba todo
.container__all {
  font-family: va.$main-font;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
  background-image: url(va.$container-bg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  &::before {
    content: "";
    width: 100%;
    background-color: rgba($color: va.$black, $alpha: 0.4);
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
  }
  // Estilos para el contenedor principal de cada formulario
  &--main {
    width: 100vw;
    margin: auto;
    padding: 1.5rem 1rem;
    max-width: 600px;
    border-radius: 20px;
    background-image: url(va.$container-form-bg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    box-shadow: inset 10px 15px 25px rgba($color: va.$black, $alpha: 0.5);
    z-index: 2;
    // Se incluye el mixin de los titulos generales
    @include ti.titles();
    // Se incluye el mixin de los botones generales
    @include bt.button();

    // Responsive design
    @media only screen and (max-width: 500px) {
      width: 90vw;
    }
  };
};
