// Variables globales 

// Fonts
$main-font: 'Fira Sans', sans-serif;

// Backgrounds
$container-bg: "../assets/background.jpg";
$container-form-bg: "../assets/form.jpg";
$home-bg: "../assets/home.jpg";
$notPage-bg: "../assets/404.jpg";

// Colors
$white: #fff;
$black: #242323;
$form: #C0C0BF;
$textLabel: #21101A;
$btn-bg: #3B101F;
$btn-bg-hover: #9F3645;
$color-link: #221C28;
$error: #882332;
$small: #f2acac;