.btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  .button-icon {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .button {
    width: 11rem;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 30rem;
    font-size: clamp(1rem, 4vw, 1.3rem);
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    text-align: center;
    color: #fff;
    cursor: pointer;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: capitalize;
  }
}

.btn-primary {
  background-color: #3b101f;
  box-shadow: 6px 6px 12px #3b101f, -6px -6px 12px #3b101f;
}
.btn-secondary {
  background-color: #9f3645;
  box-shadow: 6px 6px 12px #9f3645, -6px -6px 12px #9f3645;
}
